@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Ma sinh vien: 2310900055</p>
    <p>Ho va ten: Nguyen Hong Kien </p>
    <p>Ngay sinh: 02/11/2005</p>
    <p>Email: kientlhb3@gmail.com</p>
    <p>Dien Thoai: 0946892616</p>
    <p>Lop:K23CNT3 </p>

</div>