@{
	ViewData["Title"] = "THONG TIN SINH VIEN";
}
<h1>@ViewData["Title"]</h1>
<div>
	<p>Ma Sinh Vien: 2310900055</p>
	<p>Ho Ten: Nguyen Hong Kien</p>
	<p>Email: Kientlhb3@gmail.com</p>
	<p>So Dien Thoai: 0946892616</p>
	<p>Lop:K23CNT3-Net</p>
</div>